*{border: 0;margin: 0; padding: 0;}
.content-forum img{
    width: 100px;
    border-radius: 50%;
    background-color: antiquewhite;
    border: solid 3px azure ;
}
.capa img{
    width: 100vw;
    height: 150px;
    background-color: aqua;
}
.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--pri-color);
    background: linear-gradient(180deg, var(--pri-color) 0%, rgba(0,0,0,0) 100%);

}
#forum-info .content-forum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vh;
}
.content-forum{
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vh;
}
h2{
    color: var(--text-color01);
}
h1,h3,h4,h5,h6{
    color: var(--text-color04);
}
h6{
    color: var(--text-color01);
}


.posts{
    min-height: calc(100vh - 41vh);
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}

#main {
    overflow-x: hidden;
    background-color:hsla(278,100%,14%,1);
    background-image:
    radial-gradient(at 97% 4%, hsla(264,95%,37%,1) 0px, transparent 50%),
    radial-gradient(at 16% 54%, hsla(240,44%,79%,1) 0px, transparent 50%),
    radial-gradient(at 55% 55%, hsla(283,99%,42%,1) 0px, transparent 50%),
    radial-gradient(at 6% 79%, hsla(180,95%,38%,0.8) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(262,92%,74%,1) 0px, transparent 50%);
}