<div class="container">
  <div class="content">
    <h2>Create Account</h2>
    <div>
      <span>
        <label for="name">Name</label>
        <input id="name" type="text" placeholder="Example Name" />
      </span>
      <span>
        <label for="email">Email</label>
        <input id="email" type="email" placeholder="example@domain.com" />
      </span>
      <span>
        <label for="pass">Password</label>
        <input id="pass" type="password" placeholder="********" />
      </span>
      <span>
        <label for="re-pass">Confirm Password</label>
        <input id="re-pass" type="password" placeholder="********" />
      </span>
      <span>
        <label for="birth">Birthday</label>
        <input id="birth" type="date" placeholder="dd/mm/yyyy" />
      </span>
      <div class="buttons">
        <button>Login</button>
        <button>Sign In</button>
      </div>
    </div>
  </div>
</div>
