<div class="new-forum-icon">
    <button (click)="view()">
        <svg viewBox="0 0 24 24"><path d="M11 11V5H13V11H19V13H13V19H11V13H5V11H11Z"></path></svg>
        <h4>New Forum</h4>
    </button>
</div>

<div id="bg" (click)="view()"   [ngStyle]="{'display' : viewContainer ? 'flex' : 'none' }"></div>
<div id="new-forum-container" [ngStyle]="{'display' : viewContainer? 'flex' : 'none'}">
    <div class="content">
        <h3>NEW FORUM </h3>
        <span>
            <input type="text" placeholder="Title*" id="Title" maxlength="50" [(ngModel)]="title"  (ngModelChange)="updateTitle($event)">
            <p>{{titleCount}} / 50</p>
        </span>
        <span>
            <textarea name="description" id="description" cols="30" rows="10" maxlength="100" placeholder="Description" [(ngModel)]="text" (ngModelChange)="updateText($event)"></textarea>
            <p>{{textCount}} / 100</p>
        </span>
        <button (click)="createForum()">Create Forum</button>
    </div>
</div>