.overlay {

}

#main{
    display: flex;
    width: 100%;height: calc(100% - 60px);

}
.feed{
    position: relative;
    top: 60px;
    margin: 50px 0 0 0 ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    overflow-x: hidden;
    gap: 30px;
}

