#main{
    display: flex;
    width: 100%;height: calc(100% - 60px);

}
.feed{
    position: relative;
    top: 60px;
    margin: 50px 0 0 0 ;
    width: calc(100% - 17vw);
    margin-left: 17vw ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    gap: 30px;
}



@media (max-width: 641px) {
    .feed{
        width: 100%;
        right: 0;
    }
}

