.bg{
  width: 100vw; height: calc(100vh);
  background-color:hsla(278,100%,14%,1);
  background-image:
  radial-gradient(at 97% 4%, hsla(264,95%,37%,1) 0px, transparent 50%),
  radial-gradient(at 16% 54%, hsla(240,44%,79%,1) 0px, transparent 50%),
  radial-gradient(at 55% 55%, hsla(283,99%,42%,1) 0px, transparent 50%),
  radial-gradient(at 6% 79%, hsla(180,95%,38%,0.8) 0px, transparent 50%),
  radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
  radial-gradient(at 0% 0%, hsla(262,92%,74%,1) 0px, transparent 50%);
  position: fixed;
  overflow: hidden;
}


.content {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login {
  position: fixed;
  border-top: 100px;
  top: 50%;left: 50%;
  transform: translate(-50%, -50%);
  /* animation: rotate 1s; */
}
#signIn{
  position: fixed;
  top: 50%;left: 50%;
  transform: translate(-50%, -50%);
  /* animation: rotate 1s; */
}


@keyframes rotate{
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(90deg);
  }
}