<div class="container">
  <div class="content">
    <h2>LOGIN</h2>
    <div>

        <span>
            <label for="email">Email</label>
            <input id="email" type="email" />
        </span>
        <span>
            <label for="password">Password</label>
            <input id="password" type="password" />
        </span>
        <div class="buttons">
            <a href="feed"><button>Login</button></a> 
            <button (click)="signInClicked()">Sign In</button>
        </div >
    </div>
  </div>
</div>
