<div class="container">
    <div class="content">
        <span>
            <a href="">
                <svg class="icon-svg" viewBox="0 0 50 50">
                    <path class="icon-path" d="M16 0 0 12 4 12 4 28 12 28 12 20C12 16 20 16 20 20L20 28 28 28 28 28 28 12 32 12 16 0">
                    </path>
                </svg>
            </a>
        </span>
        <hr>
        <h4>Follows</h4>
        <p>aqui vai um 'for' mostrando as paginas que o sujeito segue</p>
        </div>
</div>