*{
    margin: 0;padding: 0;border: 0;
}

.container {
    width: 15vw; height: 40px;
    max-width: 218px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    width: 99%; height: 99%;
    background-color: rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    padding: 5px;
    border-radius: 5px;
}
h3{
    color: var(--text-color01);
}
h6{
    color: var(--text-color03);
}
