<div class="toolbar" role="banner">
  <a href="/"><img width="35" alt="Discordia Logo" src="../assets/images/logo.png" /></a>
  <h2>Discordia</h2>
  <div class="spacer"></div>
  <input type="search" name="" id="serachBox">
  <div class="spacer"></div>
  <a href="/login-page" class="primary-button"><h3>Login</h3></a>
  <button>
    <svg id="tools" height="24"width="24"data-name="Logo"xmlns="http://www.w3.org/2000/svg"viewBox="0 0 30 30"fill="#fff">
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path
        d="M 5 3 L 45 3 C 47 3 47 3 47 5 L 47 7 C 47 9 47 9 45 9 L 5 9 C 3 9 3 9 3 7 
            L 3 5 C 3 3 3 3 5 3 M 5 13 H 45 C 47 13 47 13 47 15 V 17 C 47 19 47 19 45 19 H 5 
            C 3 19 3 19 3 17 V 15 C 3 13 3 13 5 13 M 5 23 H 45 C 47 23 47 23 47 25 V 27 C 
            47 29 47 29 45 29 H 5 C 3 29 3 29 3 27 V 25 C 3 23 3 23 5 23"
      />
    </svg>
  </button>
</div>
