:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h2, h3{
    text-decoration: none;
    font-family: 'Bruno Ace SC', cursive;
    color: aliceblue;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: var(--pri-color);
    color: var(--text-color);
    font-weight: 600;
    z-index: 2;
    box-shadow: 0 0 10px 10px rgb(200, 200, 200, 20%);
    outline-style: solid;
    color: var(--sec-color);
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #tools {
    height: 40px;
    margin: 0 16px;
  }


  .user-container-config {
    position: absolute;
    display: flex;
    /* inset: auto auto  ; */
    right: 15px; top: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    background-color: rgb(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    border: solid white 2px ;
    border-radius: 5px;
  }
  .user-container-config button{
    background-color: rgb(0, 0, 0, 0.05);
    border: solid var(--placeholder-color) 2px ;
    width: 100px;
    height: 25px;
    color: var(--text-color01);
  }
  .user-container-config-bg{
    width: 100vw;
    height: 100vh;
    position: fixed;
  }



  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }




  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }

    #serachBox{
      display: none;
    }
  }