<div class="container">
  <div class="content">
    <h2>Create Account</h2>
    <div>
      <span id="image-input">
        <button>
          <img src="../../assets/images/person-standard-logo.png" width="100" alt="Image Preview">
        </button>
        <input type="file" id="profile-photo" accept="image/*">
      </span>
      <span>
        <label for="name">Name</label>
        <input [(ngModel)]="user.name" id="name" type="text" placeholder="Example Name" />
      </span>
      <span>
        <label for="email">Email</label>
        <input [(ngModel)]="user.email" id="email" type="email" placeholder="example@domain.com" />
      </span>
      <span>
        <label for="pass">Password</label>
        <input [(ngModel)]="user.password"  id="pass" type="password" placeholder="********" />
      </span>
      <span>
        <label for="re-pass">Confirm Password</label>
        <input [(ngModel)]="rePassword" (ngModelChange)="validatePassword($event)" id="re-pass" type="password" placeholder="********" />
      </span>
      <span>
        <label for="birth">Birthday</label>
        <input [(ngModel)]="user.birth" id="birth" type="date" placeholder="dd/mm/yyyy" />
      </span>
      <div class="buttons">
        <button (click)="loginClicked()">Login</button>
        <button (click)="signInClicked()">Sign In</button>
      </div>
    </div>
    <div id="alert" 
      [ngStyle]="{
        'background-color':'var(--alert-color' + alertLevel + ')',
        'display': alertDiv ? 'flex' : 'none'
      }">
      <p>{{ alertContent }}</p>
    </div>
  </div>
</div>
