<div class="container">
  <div class="content">
    <h2>LOGIN</h2>
    <div>
      <span>
          <label for="email">Email / Nome</label>
          <input [(ngModel)]="user.indentify" id="email" type="email" />
      </span>
      <span>
          <label for="password">Password</label>
          <input [(ngModel)]="user.password" id="password" type="password" />
      </span>
      <div class="buttons">
          <button>Login</button>
          <button (click)="signInClicked()">Sign In</button>
      </div >
    </div>
  </div>
</div>
